body {
  font-family: Arial, sans-serif;
  background-color: #c44b3b;
}

.number {
  background-color: lightblue;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  margin: 12px;
  padding: 28px;
  border: cornsilk 6px solid;
}
