body {
  font-family: Arial, sans-serif;
  background-color: #d6d6d6;
}

.number {
  background-color: lightskyblue;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  /* margin: 12px; */
  padding: 28px;
  border: black 6px solid;
}

.myContainer {
  display: grid;
  grid-template-columns: 10% 10% 10%;
  grid-template-rows: 10% 20% 30% 40%;
  grid-gap: 10px;
}