body {
  font-family: Arial, sans-serif;
  background-color: #0a7aa7;
}

.number {
  background-color: rgb(69, 197, 240);
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  /* margin: 12px; */
  padding: 28px;
  border: gold 6px solid;
}

.myContainer {
  display: grid;
  grid-template-columns: 10% 20% 30% 40%;
  grid-template-rows: 10% 20% 30% 40%;
  grid-gap: 10px;
}